<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<header class="header-area transparent-bar section-padding-1">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg-2">
                <div class="logo logo-width">
                    <a href="index.html">
                        <img src="/user/assets/images/logo/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 d-flex justify-content-center position-static">
                <div class="main-menu menu-lh-1 main-menu-padding-1">
                    <nav>
                        <ul>
                            <li class="position-static"><a  href="/">Home </a>
                                <div class="mega-menu-style-1">
                                    
                                </div>
                            </li>
                            <li><a href="#">Pages </a>
                                <ul class="sub-menu-width">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact Page</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="comming-soon.html">Comming Soon 01</a></li>
                                    <li><a href="comming-soon-2.html">Comming Soon 02</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                </ul>
                            </li>
                            <li><a  href="/shop">Shop </ia>
                              
                            </li>
                            <li><a href="shop-collection-1.html">Collections  </a>
                                <ul class="sub-menu-width">
                                    <li><a href="shop-collection-1.html">Shop Collection 01</a></li>
                                    <li><a href="shop-collection-2.html">Shop Collection 02</a></li>
                                    <li><a href="shop-metro.html">Shop Metro Layout</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog </a>
                              
                            </li>
                            <li><a href="shop-instagram.html">Instagram Shop </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2">
                <div class="header-right-wrap header-right-flex">
                    <div class="same-style header-wishlist">
                         
                        <a href="wishlist.html"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="same-style cart-wrap">
                        <a href="#" class="cart-active">
                            <i class="dlicon shopping_bag-20"></i>
                            <span class="count-style"></span>
                        </a>
                    </div>
                    <div class="same-style header-search">
                        <a class="search-active" href="#">
                            <i class="dlicon ui-1_zoom"></i>
                        </a>
                    </div>
                    <!-- <div class="same-style header-off-canvas">
                        <i class="fas fa-sign-in-alt"></i>
                    </div> -->
                    <!-- <div class="same-style header-off-canvas">
                        <i class="fas fa-user-plus"></i>
                    </div> -->
                    <div class="same-style header-off-canvas">
                        <a href="<%= locals.user? '/myaccount' : '/login' %> ">
                            <!-- <i class="far fa-user-plus" style="font-size: 20px; color: black;" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'"></i> -->
                            <i class="far fa-user" style="font-size: 20px; color: black;" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'"></i>
                        </a>
                    </div>
                    
                    
                    
                    <!-- <div class="same-style header-off-canvas">
                        <img src="/user/logout.png" alt="logimage" srcset="" style="width: 50px; height: 50px; border-radius: 50%; background-color: #ccc; display: flex; justify-content: center; align-items: center; font-size: 24px; color: #fff;">
                    </div> -->
                    
                </div>
            </div>
        </div>
    </div>
</header>