<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- Mirrored from htmldemo.net/toro/toro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Feb 2024 11:00:42 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Glamgrid - e_commerse Website</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/user/assets/images/favicon.png"
    />

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user/assets/css/vendor/bootstrap.min.css" />
    <!-- Icon Font CSS -->
    <!-- <link rel="stylesheet" href="/user/assets/css/vendor/font-awesome.css"> -->
    <link rel="stylesheet" href="/user/assets/css/vendor/dlicon.css" />
    <!-- Others CSS -->
    <link rel="stylesheet" href="/user/assets/css/plugins/owl-carousel.css" />
    <link rel="stylesheet" href="/user/assets/css/plugins/slick.css" />
    <link rel="stylesheet" href="/user/assets/css/plugins/magnific-popup.css" />
    <link rel="stylesheet" href="/user/assets/css/plugins/jarallax.css" />
    <link rel="stylesheet" href="/user/assets/css/plugins/easyzoom.css" />
    <link rel="stylesheet" href="/user/assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="/user/assets/css/plugins/fullpage.css" />
    <link rel="stylesheet" href="/user/assets/css/plugins/jquery-ui.css" />
    <link rel="stylesheet" href="/user/assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="/user/assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
</html>
