<header id="page-topbar" class="ishorizontal-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a href="index.html" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logo-sm.svg" alt="" height="22" />
            <span class="logo-txt">Symox</span>
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-sm.svg" alt="" height="22" />
            <span class="logo-txt">Symox</span>
          </span>
        </a>

        <a href="/admin/index" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logo-sm.svg" alt="" height="22" /><span
              class="logo-txt"
              >Symox</span
            >
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-sm.svg" alt="" height="22" />
            <span class="logo-txt">Symox</span>
          </span>
        </a>
      </div>

      <button
        type="button"
        class="btn btn-sm px-3 font-size-16 d-lg-none header-item"
        data-bs-toggle="collapse"
        data-bs-target="#topnav-menu-content"
      >
        <i class="fa fa-fw fa-bars"></i>
      </button>

      <div class="topnav">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
          <div class="collapse navbar-collapse" id="topnav-menu-content">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle arrow-none"
                  href="/admin/user"
                  id="topnav-pages"
                  role="button"
                >
                  <i class="bx bx-group"></i>

                  <span data-key="t-apps">Users</span>
                </a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle arrow-none"
                  href="/admin/category"
                  id="topnav-uielement"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="bx bx-category"></i>

                  <span data-key="t-bootstrap">Category</span>
                </a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle arrow-none"
                  href="/admin/product"
                  id="topnav-pages"
                  role="button"
                >
                  <i class="bx bx-package"></i>

                  <span data-key="t-apps">Products</span>
                  <div class="arrow-down"></div>
                </a>
                <div class="dropdown-menu" aria-labelledby="topnav-pages">
                  <a
                    href="/admin/product"
                    class="dropdown-item"
                    data-key="t-calendar"
                    >List Products</a
                  >
                  <a class="dropdown-item" data-key="t-chat">Add Products</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle arrow-none"
                  href="/admin/orders"
                  id="topnav-uielement"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="bx bx-cart"></i>

                  <span data-key="t-bootstrap">Orders</span>
                </a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle arrow-none"
                  href="/admin/coupons"
                  id="topnav-more"
                  role="button"
                >
                  <i class="fas fa-ticket-alt"></i>

                  <span data-key="t-pages">Coupons</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle arrow-none"
                  href="/admin/offers"
                  id="topnav-pages"
                  role="button"
                >
                  <i class="bx bx-gift"></i>
                  <span data-key="t-apps">offers</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle arrow-none"
                  href="/admin/salesReport"
                  id="topnav-pages"
                  role="button"
                >
                  <i class="fas fa-chart-line"></i>
                  <span data-key="t-apps">Sales</span>
                  <div class="arrow-down"></div>
                </a>
                <div class="dropdown-menu" aria-labelledby="topnav-pages">
                  <a
                    href="/admin/salesReport?sort=day"
                    class="dropdown-item"
                    data-key="t-calendar"
                    >Day</a
                  >
                  <a
                    href="/admin/salesReport?sort=week"
                    class="dropdown-item"
                    data-key="t-chat"
                    >Week</a
                  >
                  <a
                    href="/admin/salesReport?sort=month"
                    class="dropdown-item"
                    data-key="t-chat"
                    >Month</a
                  >
                  <a
                    href="/admin/salesReport?sort=year"
                    class="dropdown-item"
                    data-key="t-chat"
                    >Year</a
                  >
                  <a
                    href="#"
                    class="dropdown-item"
                    data-key="t-chat"
                    data-bs-toggle="modal"
                    data-bs-target="#customDateModal"
                    >Custom</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="d-flex">
      <!-- <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-sm" data-feather="search"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0">
                    <form class="p-3">
                        <div class="search-box">
                            <div class="position-relative">
                                <input type="text" class="form-control rounded" placeholder="Search here...">
                                <i class="mdi mdi-magnify search-icon"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div> -->

    

      <div class="dropdown d-none d-sm-inline-block">
        <button
          type="button"
          class="btn header-item light-dark"
          id="mode-setting-btn"
        >
          <i data-feather="moon" class="icon-sm layout-mode-dark"></i>
          <i data-feather="sun" class="icon-sm layout-mode-light"></i>
        </button>
      </div>

      <div class="dropdown d-inline-block">
        <button
          type="button"
          class="btn header-item user text-start d-flex align-items-center"
          id="page-header-user-dropdown"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            class="rounded-circle header-profile-user"
            src="assets/images/users/avatar-1.jpg"
            alt="Header Avatar"
          />
        </button>
        <div class="dropdown-menu dropdown-menu-end pt-0">
          <button class="dropdown-item" onclick="logout()">
            <i
              class="bx bx-log-out text-muted font-size-18 align-middle me-1"
            ></i>
            <span class="align-middle">Logout</span>
          </button>
        </div>
        <!-- SweetAlert2 CDN -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
          async function logout() {
            Swal.fire({
              title: "Are you sure?",
              text: "You won't be able to revert this!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, log out!",
              background: "#333", // Background color for black theme
              color: "#fff", // Text color for black theme
              iconColor: "#ffcc00", // Customize icon color for black theme
            }).then(async (result) => {
              if (result.isConfirmed) {
                try {
                  await axios.get("/admin/logout");
                  Swal.fire({
                    title: "Signed Out!",
                    text: "You have been logged out.",
                    icon: "success",
                    background: "#333",
                    color: "#fff",
                    iconColor: "#00ff00",
                  });
                  setTimeout(() => {
                    window.location.href = "/admin/login";
                  }, 2000);
                } catch (error) {
                  Swal.fire({
                    title: "Error",
                    text: "An error occurred while logging out.",
                    icon: "error",
                    background: "#333",
                    color: "#fff",
                    iconColor: "#ff0000",
                  });
                }
              }
            });
          }
        </script>
      </div>
    </div>
  </div>
</header>
